# Node modules
node_modules/

# Environment variables
.env
backend/.env
frontend/.env

# Build files
dist/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/

package-lock.json

# SQLite DB
backend/*.db
backend/*.sqlite

# Temporary files
*.tmp
*.temp